
.netbeast-dashboard{
    display: none;

}

@media only screen and (min-width: 900px) {
    .intro-pr{

    }
    
    .netbeast-dashboard{
        position: absolute; 
        width: 100%; 
        height: 100%; 
        viewBox: 100 300 500 500 
        overflow: visible; 
        margin: 0px 0px 0px 200px;
    }
}