
.netbeast-dashboard{
    display: none;

}

@media only screen and (min-width: 900px) {
    .intro-pr{
        height: 440px;
        width: 440px;
        margin-top: -400px;
    }
    
    .netbeast-dashboard{
        display: block;
        overflow: visible; 
        margin: 0px 0px 0px 200px;
    }
}

/*VIEWBOX 1000PX

        viewBox: 100 300 500 500 
        
*/