/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
  WHITE = '#E8F7FA'
  RED = '#FA547A'
  GREEN = '#39E8CA'
  BRAND_BLUE = '#4067EC'
  ACCENT_BLUE = '#5A9FEE'
  DARK_BLUE = '#3762A4'
  LIGHT_BLUE = '#70E4F9'
  DARKER_BLUE = '#111B39'
 */

@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans');
body {
    font-family: 'Merriweather Sans', sans-serif, 'arial';
    overflow-x: hidden;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather Sans', sans-serif, 'arial';
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

a:link {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

a:hover {
    color: #FA547A;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*HEADER*/

header {
    width: 100%;
    height: 80px;
}

header .header-brand {
    font-size: 28px;
    color: black;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
    text-decoration: none;
}

header nav ul {
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    width: fit-content;
}

header nav ul li {
    font-family: 'Merriweather Sans', sans-serif, 'arial';
    float: left;
    list-style: none;
    font-size: 16px;
    padding: 0px 10px;
}

header nav ul li a {
    text-decoration: none;
}

/*BODY*/

.box-plan {
    display: block;
    line-height: 20px;
    margin-top: 30px;
    padding: 20px;
    font-size: 14px;
}

.box-plan h2 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}

.startup-box-plan {
    background-image: linear-gradient(90deg, #5A9FEE, #70E4F9);
    color: white;
    border-radius: 15px;
    padding: 15px;
    font-size: 11px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.enterprise-box-plan {
    background-image: linear-gradient(90deg, #111B39, #304172);
    color: white;
    border-radius: 15px;
    padding: 15px;
    font-size: 11px;
    margin-top: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.enterprise-box-plan h2 {
    margin-left: 70px;
}

.prices {
    display: inline-block;
    float: right;
    position: relative;
    top: -100px;
    width: 80px;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.line {
    height: 1px;
    margin-top: 5px;
    margin-bottom: -15px;
    background-color: #111B39;
}

.anually {
    color: #FA547A;
    margin-top: -20px;
    font-size: 17px;
}

/*STRIPE*/

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */

#payment-form{
    text-align: center;
}

.StripeElement {
    box-sizing: border-box;
    display: inline-block;
    width: 400px;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-button{
    background-color: #FA547A;
    color: white;
    font-size: 15px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 30px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    height: auto;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*FOOTER*/

footer {
    background-color: rgb(64, 103, 236, 0.75);
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    font-size: 12px;
    margin: 0 auto;
    height: 20px;
    padding: 3px;
}

#legal{
    margin: 0 auto;
    margin-top: 5px;
}

#legal-span{
    color: white;
}

#legal-span:hover{
    color: #FA547A;
}

/*MEDIA DESKTOP*/

@media only screen and (min-width: 800px) {
    header .header-brand {
        margin: 0 ;
        text-align: left;
        padding: 30px 30px 30px 50px;
        width: fit-content;
    }

    header nav ul {
        margin: -40px 50px;
        display: inline-block;
        float: right;

    }
    
    header nav ul li {
        padding: 0px 10px;
    }

    /*BOX PRICE*/

    .box-plan {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: baseline;
        margin: 0 auto;
        margin-bottom: 50px;
        justify-content: center;
        text-align: center;
    }
    
    .box-plan h2 {
        text-align: center;
        font-weight: bold;
        font-size: 23px;
        color: white;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    
    .startup-box-plan {
        background-image: linear-gradient(90deg, #5A9FEE, #70E4F9);
        color: white;
        border-radius: 20px;
        padding: 15px;
        font-size: 16px;
        margin-right: 70px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .startup-box-plan li{
        line-height: 40px;
    }
    
    .enterprise-box-plan {
        background-image: linear-gradient(90deg, #111B39, #304172);
        color: white;
        border-radius: 20px;
        padding: 15px;
        font-size: 16px;
        margin-top: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        vertical-align: baseline;
    }

    .enterprise-box-plan li{
        line-height: 40px;
    }
    
    .enterprise-box-plan h2 {
        margin-left: 0px;
        margin-top: 20px;
    }
    
    .prices {
        
    }
    
    .line {
        height: 1px;
        margin-top: 5px;
        margin-bottom: -15px;
        background-color: #111B39;
    }
}