/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
  WHITE = '#E8F7FA'
  RED = '#FA547A'
  GREEN = '#39E8CA'
  BRAND_BLUE = '#4067EC'
  ACCENT_BLUE = '#5A9FEE'
  DARK_BLUE = '#3762A4'
  LIGHT_BLUE = '#70E4F9'
  DARKER_BLUE = '#111B39'
 */

@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans');

body {
    font-family: 'Merriweather Sans', sans-serif, 'arial';
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather Sans', sans-serif, 'arial';
}

h2{
    color: white;
}

a:link{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

a:active{
    color: inherit;
}

.nav-menu {
    display: flex;
    color: black;
    font-size: 15px;
    justify-content: flex-end;
    padding: 15px 35px 15px 15px;
    text-decoration: none;
    align-items: center;
    background-color: white;
}

.form-row{
    width: 50%;
    align-content: center;
}

.scope-title {
    padding-top: 50px;
    text-align: center;
    margin: 50px 0px 20px 0px;
}

#color-title {
    color: #3762A4;
}

.logo {
    font-size: 28px;
    margin: 0px 0px 0px 50px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

section.features{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
    width: 100%;
}

.features-box{
    border-radius: 10px;
    width: 60%;
    list-style: none;  
    display: block;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 30px;
    background-color: aquamarine;
}

.features-line{
    height: 2px;
    background-color: black;
    width: 150px;
    margin: 20px 0px 20px 20px;
}

.features-box-header{
    padding: 25px 0px 0px 25px;
}

.features-box-body ul{
    list-style: none;
    padding: 25px 40px 20px 40px;
    margin-top: 15px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.pricing-table{
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
}

/**FROM HERE THERE IS THE PRICING BOX
*/

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */

#payment-form{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.button-class{
    width: 100%;
    display: flex;
    justify-content: center;
}

#cta-stripe{
    display: flex;
    justify-content: center;
    background-color: orange;
    font-size: 15px;
    border: 0px solid;
    border-radius: 15px;
    width: 120px;
    height: 30px;
    margin: 30px 0 90px 0;
    cursor: pointer;
}

.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;


    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}



.media-title{
    padding-top: 50px;
    text-align: center;
}

.media-supporters {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 40px 0px 70px 0px;
}

footer {
    color: white;
    background-color: #111B39;
    width: 100%;
    justify-content: center;
}

footer .column-contact {
    display: block;
    position: relative;
    padding: 30px;
    margin-left: 7%;
    height: 50px;
    float: left;
    justify-items: center;
    background-color: #111B39;
}

.all-columns {
    width: 100%;
    display: -webkit-inline-flex;
    padding: 20px;
    float: left;
    justify-items: center;
    align-items: center;
    margin: 0 20px 50px 0;
}

.column-contact-header{
    padding-top: 1px;
    font-size: 25px;
    text-align: center;
}

.column-contact-body{
    background-color: transparent;
    font-size: 15px;
    text-align: center;
    color: inherit;
}

.policy-and-legal {
    display: flex;
    background-color: #1F2E5B; 
    padding: 0px;
    justify-content: space-evenly;
    width: 100%;
    -webkit-text-fill-color: white;
    font-size: 13px;
}










section.pricing {
    display: block;
    width: 100%;
    position: relative;
    padding: 20px;
    height: 100%;
    justify-items: center;    
    left: 7%;
}

.pricing-card {
    display: block;
    float: left;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    width: 350px;
    height: 100%;
}

.pricing-card-header{
    padding-bottom: 20px;
    color: white;
    text-align: center;
    border-radius: 9px 9px 0 0;
}

#open-source .pricing-card-header{
    background-color: #39E8CA;
    padding-top: 10px;
    font-size: 24px;
}

#open-source{
    margin-top: 140px;
    margin-right: -50px;
}

#startup {
    background-image: linear-gradient(180deg, #5A9FEE, #70E4F9);
    padding-top: 10px;
    font-size: 20px;
    z-index: 1;
}

#enterprise .pricing-card-header{
    background-color: #111B39;
    padding-top: 10px;
    font-size: 24px;
    z-index: -1;
    position: inherit;
}

#enterprise{
    margin-top: 120px;
    margin-left: -50px;
    z-index: -1;
    position: relative;
}

.pricing-card-body ul{
    list-style: none;
    text-align: center;
    padding: 20px;
    margin-top: 15px;
}

.cta-button{
    background-color: #F1F5FF;
    border-radius: 10px;
    border: 0px;
    color: white;
    background-color: #FA547A;
    padding: 4px 15px;
    font-size: 20px;
    cursor: pointer;
    align-items: center;
    margin-top: 15px;
}

#free-trial-text{
    color: blue;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: -20px;
}

#anually-text{
    color: red;
    font-size: 13px;
    margin-top: -10px;
}