
/*
  WHITE = '#E8F7FA'
  RED = '#FA547A'
  GREEN = '#39E8CA'
  BRAND_BLUE = '#4067EC'
  ACCENT_BLUE = '#5A9FEE'
  DARK_BLUE = '#3762A4'
  LIGHT_BLUE = '#70E4F9'
  DARKER_BLUE = '#111B39'
*/

@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans');

body {
    font-family: 'Merriweather Sans', sans-serif, 'arial';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', 'Merriweather Sans', sans-serif, 'arial';
}

nav {
    height: 10vh;
}

#logo {
    margin-left:20px;
    padding: 7px;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.nav-menu a:hover{
    background: #39E8CA;
}

header{
    background-image: linear-gradient(to right, #111B39 ,#3762A4)
}

header {
    color: white;
    font-size: 24pt;
    height: 90vh; /* vertical height */
    width: 100%;
}

header div {
    /* la division dentro de header*/
    padding: 100px;
}

footer {
    color: white;
    background-color: #111B39;
    width: 100%;
}

footer .column {
    display: block;
    padding: 20px;
    border: 1px solid white;
    background-color: #111B39;
}

.all-columns {
    width: 100%;
    display: block;
    padding: 20px;
}

#type-plans {
    display: block;
    padding: 10px;
    text-align: center;
}

section.pricing {
    display: block;
    width: 100%;
    position: relative;
    padding: 30px;
    margin-left: 21%;
    height: 300px;
    justify-items: center;    
}

.pricing-card {
    display: block;
    float: left;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

.pricing-card-header{
    padding-bottom: 20px;
    color: white;
    text-align: center;
    border-radius: 9px 9px 0 0;
}

#open-source .pricing-card-header{
    background-color: #39E8CA;
    padding-top: 10px;
    
}

#startup .pricing-card-header{
    background-color: #5A9FEE;
    padding-top: 10px;
}

#entreprise .pricing-card-header{
    background-color: #111B39;
    padding-top: 10px;
}


.pricing-card-body ul{
    list-style: none;
    text-align: center;
    padding: 20px;
}

#world-map {
    width: 100%;
    height: 500px;
    padding-block-end: 200px;
}

svg {
    height: 600px;
}

#contact{
    display:block;
    padding: 50px;
}

#newsletter{

}

.policy-and-legal {
    display: inline-block;
    background-color: #5A9FEE;
    text-align: center;
    width: 100%;
}