/*
  WHITE = '#E8F7FA'
  RED = '#FA547A'
  GREEN = '#39E8CA'
  BRAND_BLUE = '#4067EC'
  ACCENT_BLUE = '#5A9FEE'
  DARK_BLUE = '#3762A4'
  LIGHT_BLUE = '#70E4F9'
  DARKER_BLUE = '#111B39'
*/

@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans');

body {
    font-family: 'Merriweather Sans', sans-serif, 'arial';
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather Sans', sans-serif, 'arial';
}

h1 {
    font-size: 24pt;
}

.logo {
    font-size: 28px;
    margin: 0px 0px 0px 50px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

.nav-menu {
    display: flex;
    color: white;
    -webkit-text-fill-color: white;
    font-size: 15px;
    justify-content: flex-end;
    padding: 15px 35px 15px 15px;
    text-decoration: none;
    align-items: center;
    background-color: #4067EC;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:active {
    color: inherit;
}

a:hover {
    color: #FA547A;
}

.nav-menu a:hover {
    color: #FA547A;
}

a#logo-link:hover {
    color: inherit;
}

header {
    color: white;
    font-size: 24pt;
    height: 550px;
    width: 100%;
    z-index: 1000;
    background-color: #4067EC;
    display: block;
    border-bottom-left-radius: 25%;
}

header div {
    padding: 100px;
}

#text1 {
    width: 45%;
    padding: 120px 40px 0px 90px;
    font-size: 48pt;
}

#blue-text {
    color: #70E4F9;
}

.button {
    background-color: #FA547A;
    border: 0px;
    border-radius: 25px;
    color: #111B39;
    padding: 15px 32px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: 9% 0% 0% 15%;
    -webkit-box-shadow: 6px 7px 25px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 25px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 7px 25px -5px rgba(0, 0, 0, 0.75);
    margin: 40px 250px;
}

.button:hover {
    background-color: #FA547A;
    opacity: 0.92;
}

a#start-cta-link:hover {
    color: white;
}

.landing-benefits-container {
    width: 100%;
    color: #111B39;
    display: flex;
}

.description {
    margin: 120px 90px 0 0;
}

.description-pr {
    margin: 80px 500px 0 0;
}

.line {
    margin: 20px 0px 20px 20px;
    background: black;
    height: 1px;
    width: 160px;
    align-items: center;
    display: block;
    background-color: #111B39;
}

.benefit {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

.body-text {
    text-align: justify;
    text-justify: left;
    display: inline-block;
    margin-top: 10px;
    width: 400px;
    opacity: 0.7;
}

.image-body-1 {
    display: flex;
    align-items: center;
}

.image-body-pr {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

#anatomy-of-pr-inject-point {
    width: 450px;
    margin-top: 100px;
}

#type-plans {
    display: block;
    padding: 10px;
    text-align: center;
}

section.pricing {
    display: block;
    width: 100%;
    position: relative;
    padding: 20px;
    margin-left: 40px;
    height: 300px;
    justify-items: center;
}

.pricing-card {
    display: block;
    float: left;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
    height: 270px;
}

.pricing-card-header {
    padding-bottom: 20px;
    color: white;
    text-align: center;
    border-radius: 9px 9px 0 0;
}

#open-source .pricing-card-header {
    background-color: #39E8CA;
    padding-top: 10px;
    font-size: 24px;
}

#startup .pricing-card-header {
    background-color: #5A9FEE;
    padding-top: 10px;
    font-size: 24px;
}

#enterprise .pricing-card-header {
    background-color: #111B39;
    padding-top: 10px;
    font-size: 24px;
}

.pricing-card-body ul {
    list-style: none;
    text-align: center;
    padding: 20px;
    margin-top: 15px;
}

.cta-button {
    background-color: #F1F5FF;
    border-radius: 10px;
    border-color: white;
    color: white;
    background-color: orange;
    padding: 4px 15px;
    font-size: 20px;
    cursor: pointer;
    align-items: center;
    margin-top: 15px;
}

.scope-title {
    padding-top: 50px;
    text-align: center;
    margin: 50px 0px 20px 0px;
}

#color-title {
    color: #4067EC;
}

.media-title {
    padding-top: 50px;
    text-align: center;
    margin: 90px 0px 50px 0px;
}

#p-scope-description {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 20px;
}

.media-supporters {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 40px 0px 70px 0px;
}

.subscribe-newsletter {
    display: flex;
    text-align: center;
    background-color: rgb(64, 103, 236, 0.1);
}

#text-newsletter {
    font-size: 14px;
    opacity: 0.7;
    width: 90%;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

#input-style {
    border: 0px;
    padding: 10px;
    border-radius: 15px;
    width: 40%;
    background-color: rgb(64, 103, 236, 0.15);
    margin-top: 15px;
}

.subscribe-column{
    flex: 50%;
    padding: 10px;
    height: 250px;
    margin: 30px 0px -15px 35px;
}

footer {
    background-color: rgb(64, 103, 236, 0.75);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
}

#legal{
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
}

#legal-span{
    color: white;
}

#legal-span:hover{
    color: #FA547A;
}

::placeholder {
    color: #111B39;
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
}

.social-media{
    justify-content: center;
    margin: 80px 0px 50px 0px;
    display: block;
    text-align: center;
}

#social-media-margin{
    margin-top: 30px;
}

.fa {
    padding: 20px;
    font-size: 25px;
    width: 25px;
    height: 20px;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 5px;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.fa:active{
    color: white;
}

.fa:visited{
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    margin-right: 50px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    margin-right: 50px;
}

.fa-at{
    background: rgb(64, 103, 236, 0.7);
    color: white;
}
